[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maciorrus
[access "refs/for/refs/*"]
	read = group user/maciorrus
	push = group user/maciorrus
	label-Code-Review = -2..+2 group user/maciorrus
	label-Verified = -1..+1 group user/maciorrus
	rebase = group user/maciorrus
	removeReviewer = group user/maciorrus
	submit = group user/maciorrus
[access "refs/heads/*"]
	read = group user/maciorrus
	create = group user/maciorrus
	push = +force group user/maciorrus
	pushMerge = group user/maciorrus
[access "refs/tags/*"]
	push = +force group user/maciorrus
	pushTag = group user/maciorrus
	pushSignedTag = group user/maciorrus
